.tópicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo {
    color: var(--azul-black);
    font-weight: 300;
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha abaixo */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 1em; /* Espaçamento entre os itens */
    margin-bottom: 1em;
}

.tópicos__item {
    margin: 0.5em;
    width: calc(25% - 1em); /* Define a largura de cada item */
    max-width: 200px; /* Largura máxima para garantir que não fiquem muito largos */
}

.tópicos__link {
    display: inline-block;
    padding: 1em;
    background-color: #9234d1d5; /* Cor de fundo padrão */
    color: #270547; /* Cor do texto padrão */
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px; /* Borda arredondada */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves */
}

.tópicos__link:hover {
    background-color: #474300; /* Cor de fundo ao passar o mouse */
    color: #03f799d5; /* Cor do texto ao passar o mouse */
}

/* Media queries para ajustar o layout em diferentes tamanhos de tela */

@media (max-width: 768px) {
    .tópicos__item {
        width: calc(50% - 1em); /* Em telas menores, 2 itens por linha */
    }
}

@media (max-width: 480px) {
    .tópicos__item {
        width: calc(100% - 1em); /* Em telas muito pequenas, 1 item por linha */
    }
}

@media screen and (min-width: 1728px) {
    .tópicos {
        padding: 3em 30vw;
    }
}